.container-product {
  height: 140px;
  background-color: #fff;
  border-radius: 4px !important;
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  margin: 5px;
  padding: 5px;
  img {
    height: 100px;
    width: 100%;
    display: block;
  }
}
